*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --position-right: 43%;
}

body{
    background-color: #222222;
    min-height: 100vh;
}

img {
    max-width: 100%;
    max-height: 100%; 
    object-fit: contain;
}

video{
    min-width: 80%;
    min-height: 100% ;
}
ol li{
    list-style-type: none;
    height: 100%;
}
  #header{
    display: flex;
    width: 100vw;
    height: 12vh;
    justify-content: center;
    position: relative;
    align-items: center;
    color: #EEEEEE;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    
}
    
#line{
        position: absolute;
        display: block;
        width: 343px;
        height: 1px;
        bottom: 7%;
        left: 13%;
        background-color: white;
        content: "";
} 
#flexChild1{
    position: absolute;
    display: flex;
    border-radius: 60px;
    padding: 5px 5px 5px 5px;
}
.header-font{
    font-family: Didot;
    font-size: 3.425rem;
    font-weight: bold;
}
.header-font-ed{
    font-family: Didot;
    font-weight: bold;
    height: 53px;
  display: flex;
  flex-direction: row;
  justify-content: center; /* horizontal position */
  align-items: end; /* vertical position */
  width: 30px;
}
#main-content{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.horizontal{
    position: absolute;
    width: 69px;
    height: 1px;
    background-color: white;
}
.vertical{
    position: absolute;
    width: 1px;
    height: 55px;
    background-color: white;
}


#pos1{
    position: absolute;
    top: 1%;
    left: 50%;
}

#pos2{
    position: absolute;
    left: 3%;
    top: 43%;
}

#pos3{
    position: absolute;
    left: 50%;
    bottom: 14%;
}

#pos4{
    position: absolute;
    right: 4%;
    top: 43%;
    font-weight: 100;
}

#content{
    display: flex;
    cursor: pointer;
    position: relative;
    color: white;
    font-family: Didot;
    font-size: 3.425rem;
    font-weight: bolder;
    background:  rgba(0, 0, 0, 0.808);
    overflow: hidden;
    width: 60%;
    height: 54%;
    left: 21%;
    right: 20%;
    top: 16%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.right-trans{
    z-index: 1;
    transition: right 3.0s ;

}

.left-trans{
    z-index: 1;
    
    transition: left 3.0s ;
}

.bottom-trans{
    z-index: 1;
    
    transition: bottom 2.2s ;
}

.top-trans{
    z-index: 1;
    
    transition: top 2.2s;
}

#video-bg{
    position: absolute;
    top: 0;
   
    min-height: 100%;
    min-height: 100%;
    z-index: -1;
}

#text::after{
    content: "";
}

@keyframes bg-animation{
    from{
        background: rgba(0, 0, 0, 0.582);
    }
    to{
        background: rgba(0, 0, 0, 1);
    }
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53vh;
    margin-top: 21%;
    position: relative;
    bottom: 140px;
}

.ticket{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 0.2fr 0.2fr 0.4fr 0.05fr 0.2fr;
    height: 100%;
    width: 60%;
    grid-template-areas: "title1 picture"
                "title2 picture"
                "title3 picture"
                "title4 picture"
                "title5 picture"
                "title6 picture";
    border: 6px solid white;
    object-fit: cover;
    position: relative;
    margin-bottom: 125px;
    border-radius: 30px ;
    
  
}
.ticket:before,
.ticket:after{
    height:90px;
    width:45px;
    content: '';
    position: absolute;
    top: 0.9em;
    top: 43%;
    height: 60px;
    width: 53px;
    border: 5px solid white;
}
.ticket:before {
    left: -6px;
    border-radius: 0 60px 60px 0;
    border-left-color: #222222;
}
.ticket:after {
    right: -6px;
    border-radius: 60px 0 0 60px;
    border-right-color: #222222;
}
.ticket-font{
    font-family: Snell Roundhand, cursive;
    font-size:min(3.125rem);
    color: white;
}
.ticket-font:first-child{
    font-weight: bolder;
}

.ticket-font-sub{
    font-family: Snell Roundhand, cursive;
    color: white;
}

.ticket-font-sub-xl{
    font-size: 40px;
}

.ticket-font-main{
    font-family: Snell Roundhand, cursive;
    font-size:min(3.125rem);
    font-weight: bolder;
    color: white;
}


.line1{
    grid-area: title1;
    justify-self: center;
    align-self: center;
}
.line2{
    grid-area: title2;
    justify-self: center;
    align-self: center;
}
.line3{
    grid-area: title3;
    justify-self: center;
    align-self: center;
}
.line4{
    grid-area: title4;
    justify-self: center;
    align-self: center;
}
.line5{
    grid-area: title5;
    justify-self: center;
    align-self: center;
}
.line6{
    grid-area: title6;
    justify-self: center;
    align-self: center;
}

.info-flex{
    display: flex;
    width: 100%;
}
.info-flex-child{
    flex-grow: 1;
    height: 150px;
    width: 250px;
    filter: invert(100%);
}
.picture{
    grid-area: picture;
}

#center{
    align-self: center;
    top: 3%;
}
