*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    display: flex;
    width: 100vw;
    height: 12vh;
    justify-content: center;
    position: relative;
    align-items: center;
    color: black;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
#flexChild1{
    position: absolute;
    display: flex;
    border-radius: 60px;
    padding: 5px 5px 5px 5px;
}
.header-font{
    font-family: Didot;
    font-size: 3.425rem;
    font-weight: bold;
}
.header-font-ed{
    font-family: Didot;
    font-weight: bold;
    height: 53px;
    display: flex;
    flex-direction: row;
    justify-content: center; /* horizontal position */
    align-items: end; /* vertical position */
    width: 30px;
}

.some-font{
    font-family:Snell Roundhand, cursive;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ". . ."
                ". . . "
                "content1 content2 content3"
                "content1 content2 content3"
                ". . . "
                ". about ."
                ". about ."
                ". . . ";
    width: 100vw;
}

#proj1{
    grid-area: content1;
    width: 33%;
}

#proj2{
    grid-area: content2;
    width: 33%;
}
#proj3{
    grid-area: content3;
    width: 33%;
}
.ticket{
    grid-area: about;
}