*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    min-height: 100vh;
}


.styler{
    background-color: #1d1d1d;
    color: #acb1b1;
    text-align: center;
    transition: background-color .6s;
    border: 1px solid transparent;
    vertical-align: middle;
    width: 50px;
    border-radius: 4px;
}

.style2 {
    background-color: #1d1d1d;
    color: #acb1b1;
    text-align: center;
    transition: background-color .6s;
    border: 1px solid transparent;
    border-radius: 4px;
   
}


.centerkeys{
    vertical-align: middle;
    text-align: center;
    height: 50px;
    width: 50px;
    line-height: 50px;
    animation: slidein 9.6s;
    cursor: pointer;
    border-radius: 4px;
}

.centerflexkeys{
    vertical-align: middle;
    text-align: center;
    height: 50px;
    width: 50px;
    line-height: 50px;
    transition: box-shadow 0.3s;
    border-radius: 4px;
    animation: slidein;
    animation-duration: 9.6s;
    cursor: pointer;
    
}

#center{
    position: fixed;
    left: 55%;
    top: 20%;
    transform: translate(-50%, 70%);
}

#grid{
    display: grid;
    grid-template-columns: repeat(9, 60px);
    grid-template-rows: repeat(2, 60px);
}

#flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}



#buttonStyle{
    position: relative;
    bottom: 36%;
    left: 30%;
    transform: translate(0%, 70%);
    background: none;
    border-radius: 25px ;
    padding: 10px;
    color: #acb1b1;
    cursor: pointer;
    width: fit-content;
}

#buttonStyle:hover{
    box-shadow: 0 0 5px 2px rgb(131, 130, 130) inset, 0 0 10px 5px rgb(184, 181, 181);
}

#p{
    grid-column-start: 1;
    grid-column-end: 2;
}

#l{
    grid-column-start: 2;
    grid-column-end: 3;       
}

#a{
    grid-column-start: 3;
    grid-column-end: 4;
}

#y{
    grid-column-start: 4;
    grid-column-end: 5;
}

#t{
    grid-column-start: 6;
    grid-column-end: 7;
}

#h{
    grid-column-start: 7;
    grid-column-end: 8;
}
#e0{
    grid-column-start: 8;
    grid-column-end: 9;
}

#s{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#chord{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;  
}
#c{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

#r{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

#e3{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

#t2{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
  
}

#n{
   flex-grow: 1;
}

#o{
    flex-grow: 1; 
}
#t3{
    flex-grow: 1; 
}
#e4{
    flex-grow: 1;
}

#s2{
    flex-grow: 1; 
    
}



@keyframes slidein{
    0% {
        transform: translateY(-1000%);
        box-shadow: none;
      }
    
      60% {
        transform: translateY(0%);
        box-shadow: none; 
      }

      90%{
        
        box-shadow: inset  0 0 5px 2px rgb(131, 130, 130), 0 0 10px 5px rgb(184, 181, 181) ;
        transition: box-shadow 1s ease-out;
      }
      100%{
      box-shadow: none;
      transition: box-shadow 1.5s ease-in;
    }
}

