/* STARTING INDEX STYLE*/

:root{
  --pixel-count:0;
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

  

body{
    background-color: #e5ebeb;
    min-height: 100vh;
    overflow-y: hidden ;
}

nav{
    display: flex;
    flex-grow: 1;
}
img {
    max-width: 100%;
    max-height: 100%;
}
ol li{
  list-style-type: none;
}

#header{
    display: flex;
    gap: 50%;
    width: 100vw;
    height: 15vh;
    position: relative;
    color: #001213;
    flex-grow: 1;
    
}

#flexChild1{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    left: 6%;
    border-radius: 60px;
    padding: 5px 5px 5px 5px;
}
.header-font{
    font-family: Didot;
    font-size: 3.425rem;
    font-weight: bold;
    
}
.header-font-ed{
    font-family: Didot;
    font-weight: bold;
    height: 53px;
  display: flex;
  flex-direction: row;
  justify-content: center; /* horizontal position */
  align-items: flex-end; /* vertical position */
  width: 30px;
}

/* top left header design */

#flexChild2{
    position: absolute;
    right: 5vw;
    justify-content: flex-start;
    align-self: center;
    width: 20%;
}

#main-content{
    display: flex;
    flex-wrap: wrap;
    
    margin: 1vw auto;
    position: absolute;
    text-align: center;
    width: 40%;
    left: 50%;
    top: 15%;
    transform: translate(-50%);
}

#main{
    position: relative;
    flex: auto;
    font-size: 1.5rem;
    margin: 0 1vw calc(1vw + 50px) 1vw;
    min-width: calc(33% - 2vw);
   
}

#content{
  background-color: black;
  border-radius: 6px;
  opacity: 1;
  transform: translate(25%,-5%);
  height: 95%;
  margin: 8%;
  position: absolute;
  width: 54%;
  vertical-align: middle;
  z-index: 5000;
  cursor:pointer;
  filter: blur(2px);
}

#progress-bar{
  background-color: black;
  justify-content: center;
  
  align-items: flex-start;
  border-radius: 50px;
  display: flex;
  width: 2px;
  padding: 0 2px ;
  position: absolute;
  left: 80%;
  height: 94%;
  top: 4%;
}

#progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 50px;
  background: #fff;
  height: 33%;
  width: 0;
  justify-self: center;
  position: absolute;
}

#sect{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

#list{
  animation: none;
}

.picture-size{
  width: 75%;
  height: 650px;
}

#content:hover{
    box-shadow: 0px 0px 4px 1px rgb(10, 10, 10) ;
}

#main:before {
    content: "";
    float: left;
    padding-top: 100%;
  }


/*#effect-1{
    display: none;
    border-radius: 6px;
    mix-blend-mode: multiply;
    transform: translate(25%,-5%);
    height: 90%;
    opacity: 1;
    position: absolute;
    width: 54%;
    z-index: 3000;
}

#effect-1 {
    animation: rotate 2.5s linear infinite;
    background: #121312;
   
  }
  

#effect-2{
    
    display: none;
    border-radius: 6px;
    mix-blend-mode: multiply;
    transform: translate(25%,-5%);
    height: 90%;
    opacity: 1;
    position: absolute;
    width: 54%;
    z-index: 3000;
} 

#effect-2 {
    animation: rotate 1.9s linear reverse infinite;
    background: rgb(207, 218, 200);
  }

    #main:hover #effect-1,
    #main:hover #effect-2 {
  display: block;
} */

#buttonStyle{
    position:absolute;
    bottom: 50%;
    width: 53%;
    left: 22%;
    height: 10%;
    animation: slideUp 2.0s;
    background-color: red;
    z-index: 6000;
    background-color: rgba(57, 62, 70, 0.1);
    
}

#proj{
    font-family: Didot;
    font-size: 0.7em;
    font-weight: bold;
}



button{
    width: 100%;
    height: 100%;
    border: none;
    background-color:   rgb(57, 62, 70, 0.5);
    box-shadow: 0px 0px 5px grey;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.5em;
    
}

section img {
    object-fit: cover;
}



button:hover{
    box-shadow: 0px 0px 5px 8px grey;
}

.logos{
    height: 150px;
    width: 250px;
  
}

#logos1{
    flex: 1 1 200px;
    align-self: center;
}
#logos2{
    flex: 1 1 200px;
    align-self: center;
}
#logos3{
    flex: 1 1 200px;
    align-self: center;
}

#whole-page{
  width: 100vw;
  height: 100vh ;
}

#jump-to-proj{
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 1%;
  top: 4%;
}

#jump-to-proj img{
  width: 90px;
  height: 100px;
}
@keyframes rotate {
    0% {
      top: 0;
      left: 5%;
    }
    25% {
      top: 5%;
      left: 0%;
    }
    50% {
      top: 15%;
      left: 5%;
    }
    75% {
      top: 5%;
      left: 15%;
    }
    100% {
      top: 0;
      left: 5%;
    }
  }

  @keyframes rotate1 {
    0% {
      top: 0;
      left: 6%;
    }
    25% {
      top: 12%;
      left: 0%;
    }
    50% {
      top: 12%;
      left: 6%;
    }
    75% {
      top: 6%;
      left: 12%;
    }
    100% {
      top: 0;
      left: 6%;
    }
  }

  @keyframes slideUp{
      from{
          opacity: 0;
          width: 0;
      }

      to{
          width: 53%;
          opacity: 1;
      }
  }

  
  @keyframes slideDown{
      from{
          opacity: 1;
          width: 54%;
      }
      to{
          width: 0%;
          opacity: 0;
          
      }
  }

  @keyframes moveDown{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(var(--pixel-count));
    }
}

@keyframes moveDownFurther{
    from{
        transform: translateY(-700px);
    }
    to{
        transform: translateY(var(--pixel-count));
    }
}

@keyframes moveUp{
    from{
        transform: translateY(-1400px);
    }
    to{
        transform: translateY(var(--pixel-count));
    }
}

@keyframes moveUpFurther{
    from{
        transform: translateY(-700px);
    }
    to{
        transform: translateY(var(--pixel-count));
    }
}


@keyframes load {
  0% { width: 0; }
  100% { width: 100%; }
}

