*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --pixel-count: 0;
}

body{
    background-color: #222222;
    min-height: 100vh;
 
}

nav{
    display: flex;
    flex-grow: 1;
}
img {
    max-width: 100%;
    max-height: 100%;
   
    
}
ol li{
    list-style-type: none;
    height: 100%;
}
  #header{
    display: flex;
    width: 100vw;
    height: 12vh;
    justify-content: center;
    position: relative;
    align-items: center;
    color: #EEEEEE;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    
}
    
#line{
        position: absolute;
        display: block;
        width: 343px;
        height: 1px;
        bottom: 7%;
        left: 13%;
        background-color: white;
        content: "";
} 
#flexChild1{
    position: absolute;
    display: flex;
    border-radius: 60px;
    padding: 5px 5px 5px 5px;
}
.header-font{
    font-family: Didot;
    font-size: 3.425rem;
    font-weight: bold;
}
.header-font-ed{
    font-family: Didot;
    font-weight: bold;
    height: 53px;
  display: flex;
  flex-direction: row;
  justify-content: center; /* horizontal position */
  align-items: end; /* vertical position */
  width: 30px;
}
#main-content{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.horizontal{
    position: absolute;
    width: 69px;
    height: 1px;
    background-color: white;
}
.vertical{
    position: absolute;
    width: 1px;
    height: 55px;
    background-color: white;
}


#pos1{
    position: absolute;
    top: 1%;
    left: 50%;
}

#pos2{
    position: absolute;
    left: 3%;
    top: 38%;
}

#pos3{
    position: absolute;
    left: 50%;
    bottom: 14%;
}

#pos4{
    position: absolute;
    right: 4%;
    top: 38%;
}

#content{
    display: flex;
    position: relative;
    color: wheat;
    font-family: Didot;
    font-size: 3.425rem;
    font-weight: bolder;
    background:  rgba(0, 0, 0, 0.582);
    animation: bg-animation 5s infinite alternate;
    overflow: hidden;
    width: 60%;
    height: 54%;
    left: 21%;
    right: 20%;
    top: 16%;
    align-items: center;
    text-align: center;
    justify-content: center;
   
}
@keyframes bg-animation{
    from{
        background: rgba(0, 0, 0, 0.582);
    }
    to{
        background: rgba(0, 0, 0, 1);
    }
}

#video-bg{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-height: 100%;
    z-index: -1;
}